In [1]:
import pandas as pd 
import numpy as np 
import plotly.express as px
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
files_2014 = ['uber-raw-data-apr14.csv', 'uber-raw-data-may14.csv', 'uber-raw-data-jun14.csv', 'uber-raw-data-jul14.csv', 'uber-raw-data-aug14.csv', 'uber-raw-data-sep14.csv']

data_2014 = pd.DataFrame()
for file in files_2014:
    data = pd.read_csv('uber-trip-data/' + file)
    data_2014 = pd.concat([data_2014, data])

In [3]:
# Basic stats
print("Number of rows : {}".format(data_2014.shape[0]))
print()

print("Display of dataset: ")
display(data_2014.head())
print()

print("Basics statistics: ")
data_desc = data_2014.describe(include='all')
display(data_desc)
print()

print("Percentage of missing values: ")
display(100*data_2014.isnull().sum()/data_2014.shape[0])

Number of rows : 4329752

Display of dataset:

          Date/Time      Lat      Lon    Base  425  -74.2596 B02598
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512  NaN       NaN    NaN
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512  NaN       NaN    NaN
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512  NaN       NaN    NaN
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512  NaN       NaN    NaN
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512  NaN       NaN    NaN

Basics statistics:

,Date/Time,Lat,Lon,Base,425,-74.2596,B02598
count,3506191,3.506191e+06,3.506191e+06,3506191,823561.000000,823561.000000,823561
unique,217186,NaN,NaN,5,NaN,NaN,4
top,4/7/2014 20:21:00,NaN,NaN,B02598,NaN,NaN,B02617
freq,97,NaN,NaN,1152513,NaN,NaN,377695
mean,NaN,4.073927e+01,-7.397337e+01,NaN,40.739145,-73.971550,NaN
std,NaN,3.968856e-02,5.695110e-02,NaN,0.040845,0.057577,NaN
min,NaN,3.965690e+01,-7.492900e+01,NaN,39.989700,-74.715500,NaN
25%,NaN,4.072120e+01,-7.399660e+01,NaN,40.720200,-73.996000,NaN
50%,NaN,4.074240e+01,-7.398350e+01,NaN,40.741700,-73.982900,NaN
75%,NaN,4.076090e+01,-7.396610e+01,NaN,40.761300,-73.962300,NaN
max,NaN,4.211660e+01,-7.206660e+01,NaN,41.347600,-72.733900,NaN

Percentage of missing values:

Date/Time    19.020974
Lat          19.020974
Lon          19.020974
Base         19.020974
425          80.979026
-74.2596     80.979026
B02598       80.979026
dtype: float64

In [8]:
# remove ID
data_2014 = data_2014.drop([,'425','-74.2596','B02598'],axis=1)

KeyError: "['425', '-74.2596', 'B02598'] not found in axis"

Le jeu de données est assez volumineux, prenez un échantillon de 10 000 observations

In [6]:
data_sample = data.sample(100000)
data_sample.head()

                        425  -74.2596  B02598
9/29/2014 7:23:00   40.7716  -73.8940  B02598
9/5/2014 11:31:00   40.8902  -73.8982  B02617
9/2/2014 11:41:00   40.7412  -74.0014  B02682
9/12/2014 11:19:00  40.7125  -74.0140  B02682
9/12/2014 11:02:00  40.7630  -73.9955  B02617

In [ ]:
data_sample.shape

(100000, 3)

À l'aide de plotly scatter mapbox, visualisation des points de données sur une carte. Vous devez également différencier les couleurs en fonction du titre

In [7]:
fig = px.scatter_mapbox(
        data_sample, 
        lat="Lat", 
        lon="Lon",
        color="Date/Time",
        mapbox_style="carto-positron"
)

fig.show()

ValueError: Value of 'lat' is not the name of a column in 'data_frame'. Expected one of ['425', '-74.2596', 'B02598'] but received: Lat

In [8]:
X = data_2014
X.head()

          Date/Time      Lat      Lon    Base  425  -74.2596 B02598
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512  NaN       NaN    NaN
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512  NaN       NaN    NaN
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512  NaN       NaN    NaN
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512  NaN       NaN    NaN
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512  NaN       NaN    NaN

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 823561 entries, 9/21/2014 9:12:00 to 9/30/2014 22:58:00
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   425       823561 non-null  float64
 1   -74.2596  823561 non-null  float64
 2   B02598    823561 non-null  object
dtypes: float64(2), object(1)
memory usage: 25.1+ MB

Normalize dataset

In [13]:
from sklearn.preprocessing import StandardScaler

xnum = X.loc[:,'Date/Time', 'Lat', 'Lon', '425', '-74.2596', ]
xcat = X.loc[:,'Base','B02598']

sc= StandardScaler()
xnum = pd.DataFrame(sc.fit_transform(xnum), columns=xnum.columns)

X = pd.merge(xnum,xcat, left_index=True, right_index=True)
X = pd.get_dummies(X, drop_first=True)

IndexingError: Too many indexers

K-means

In [ ]:
from sklearn.cluster import KMeans

cluster = KMeans(n_clusters = 8, random_state = 0)

cluster.fit(X)

In [ ]:
X['cluster_id'] = cluster.labels_
X.head()

SELECT OPTIMAL NUMBER OF CLUSTERS K

Elbow

In [ ]:
wcss =[]
k = []

for i in range [1,11]:
    kmeans = Kmeans(n_clusters = i, random_state = 0)
    kmeans.fit(X)
    k.append(i)
    wcss.append(kmeans.inertia)
    
print(k)
print(wcss)

In [ ]:
# Let's visualize using plotly
import plotly.express as px

# Create DataFrame
wcss_frame = pd.Series(wcss)
k_frame = pd.Series(k)

# Create figure
fig= px.line(x=k_frame,y=wcss_frame)

# Create title and axis labels
fig.update_layout(
    yaxis_title="Inertia",
    xaxis_title="# Clusters",
    title="Inertia per cluster"
)

# Render
#fig.show(renderer="notebook")
fig.show(renderer="iframe") # if using workspac

Silhouette

In [ ]:
from sklearn.metrics import silhouette_score

# Computer mean silhouette score
sil = []
k = []

## Careful, you need to start at i=2 as silhouette score cannot accept less than 2 labels 
for i in range (2,11): 
    kmeans = KMeans(n_clusters= i, init = "k-means++", random_state = 0)
    kmeans.fit(X)
    sil.append(silhouette_score(X, kmeans.labels_)#predict(X)
    k.append(i)

print(k)
print(sil)

In [ ]:
# Create a data frame 
cluster_scores=pd.Series(sil)
k_frame = pd.Series(k)

# Create figure
fig = px.bar(x=k, y=cluster_scores)

# Add title and axis labels
fig.update_layout(
    yaxis_title="Silhouette Score",
    xaxis_title="# Clusters",
    title="Silhouette Score per cluster"
)

# Render
#fig.show(renderer="notebook")
fig.show(renderer="iframe") # if using work

DBSCANS

In [ ]:
# import DBSCAN from sklearn and numpy
from sklearn.cluster import DBSCAN
import numpy as np

# Instanciate DBSCAN 
db = DBSCAN(eps=0.2, min_samples=2000, metric="euclidean", algorithm="brute")

# Fit on data 
## No need to normalize data, it already is! 
db.fit(X)

# Visualize with plotly 

## Import go to build our own figure
import plotly.graph_objects as go

fig = go.Figure()

# Loop through each label for our cluster
for i in np.unique(db.labels_):
    label = X[db.labels_ == i]
    fig.add_trace(go.Scatter(x=label[:, 0], y=label[:, 1], mode="markers", name="Cluster {}".format(i)))

fig.show('notebook')

Find out how many clusters DBSCAN created.

In [ ]:
np.unique(db.labels_)

Ajoutez une nouvelle colonne "cluster" à X où chaque observation sera l'étiquette du cluster correspondant.

In [ ]:
X["cluster"] = db.labels_
X.head()

Visualisez tous les clusters sur une carte à l'exception de tous ceux que DBSCAN a considérés comme des valeurs aberrantes

In [ ]:
fig = px.scatter_mapbox(
        X[X.cluster != -1], 
        lat="lat", 
        lon="lng",
        color="cluster",
        mapbox_style="carto-positron"
)

fig.show()